
:root {
    --color-primary: #010703;
    --color-secondary: #2ecc71;
    --color-accent: #e74c3c;
    --bg-light: #ecf0f1;
    --bg-dark: #337080;
    --text-light: #ffffff;
    --text-dark: #2c3e50;
}