
:root {
    --color-primary: #010703;
    --color-secondary: #2ecc71;
    --color-accent: #e74c3c;
    --bg-light: #ecf0f1;
    --bg-dark: #337080;
    --text-light: #ffffff;
    --text-dark: #2c3e50;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: var(--bg-light);
    color: var(--text-dark);
    transition: background-color 0.3s, color 0.3s;
}

.dark-theme {
    background-color: var(--bg-dark);
    color: var(--text-light);
}
